<main>

  <ngx-loading [show]="loading"></ngx-loading>

  <div class="row justify-content-center login-form">
    <div class="col-sm-12 col-md-4 align-self-center">
      <div *ngIf="isInvalidLink" class="alert alert-danger" role="alert">
        <h3 class="color-primary">Sorry!</h3>
        <p>The link you clicked has expired for your security. Please use this form to generate a new one.</p>
      </div>
      <h1>{{ formTitle }}</h1>
  
      <form [formGroup]="loginForm"
            id="loginForm"
            (ngSubmit)="sendEmailLink()" *ngIf="!emailSent">

        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" formControlName="email" required>
        </div>

        <button type="submit" class="btn btn-primary m-0" [disabled]="!loginForm.valid">
          <fa-icon [icon]="sendingLink ? faSpinner : faEnvelope" [spin]="sendingLink" class="mr-2"></fa-icon>
          <span>{{ sendingLink ? 'Sending...' : 'GET SECURE LOGIN LINK' }}</span>
        </button>

      </form>

      <div *ngIf="emailSent" class="alert alert-success mt-2" role="alert">
        <strong>A secure login link has been sent to {{ loginForm.value.email }}.</strong>
      </div>

      <div *ngIf="invalidUser" class="alert alert-danger mt-2" role="alert">
        <strong>An account was not found for that email address. Please try again.</strong>
      </div>

      <!-- <div *ngIf="inactiveUser" class="alert alert-danger mt-2" role="alert">
        <strong>Sorry! Your account is not yet activated. Please check your Inbox (or spam folder) for an email from AllGive with your secure login link.</strong>
      </div> -->

      <p *ngIf="!emailSent" style="color: #000000">New user? <a routerLink="/start">Sign up here.</a></p>
    </div>
  </div>
</main>
