<main>
  <section>
    <div class="cup_section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img src="../../assets/images/about/cup.png" alt="cup">
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <div class="tittleCol">
              <p>You’ve heard it countless times before. It sounds great in theory. In reality,
                you will still end up writing a sizable check at the end of each month,
                or backing out of your pledge completely. AllGive has developed a very unique
                payment system that makes good on the promise of daily donations. Simply
                sign up for an account, select a charity, and set your donation amount and
                frequency and you will be well on your way to donating the way you’ve
                always wanted to.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cup section close -->
  <!-- money section starts -->
  <section>
    <div class="money_section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img src="../../assets/images/about/money.png" alt="money">
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <div class="tittleCol">
              <p>With a minimum daily gift of just $3, these “microdonations” add up
                without you, the donor, ever feeling a thing. A year of giving what is basically
                spare change becomes over $1000 in donations to your favorite charity.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- money section close -->
  <!-- allgive story section starts -->
  <section>
  <div class="story_section">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <div class="allgive_description">
          <div class="manImg">
            <img src="../../assets/images/about/man.png">
          </div>
            <div class="story_heading ">
            <h1>An AllGive Story</h1>
            <p>This is Dan. Dan has always wanted to
            give, but never seems to have enough
            money left at the end of the month to write
            that check. When Dan hears about AllGive he decides to commit to giving up his daily
            pastry and coffee and instead donate that
            $5 everyday. Dan finds account set-up is a
            snap, safe, and painless. AllGive processes
            payments on a daily basis, 7 days per
            week. At the end of his first month Dan, a
            new donor, has given $150 and literally
            never felt a thing. After 1 year he has given 
            over $1800. Dan is the man. Dan has gone from being 
            someone who believed he lacked the means to give, to a valuable contributor of more than
            $1800 per year. Dan only has to set up his gift once. After that first interaction,
            AllGive takes it from there. Unless Dan decides to cancel his contributions,
            they will continue indefinitely, year after year.</p>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="story_content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="row headingSpace">
        <div class="col-12">
          <div class="tittleCol">
            <h1>Where Do I Go From Here? What Next?</h1>
            <p>The best thing to do from here is to start searching our list of charities and figure out
            which one or which ones you want to start giving to. Creating an account is easy and
            it’s totally safe and secure. Once you’ve chosen who you want to give to, and how
            much you want to give, we take over and make sure your donations go through on
            time and on schedule. You even have a cool dashboard where you can keep up with
            how much you’ve given, where it’s gone, and what your projected gift will be at
            the end of the year. Need some ideas on where you can pick up some “spare change”
            to help make a change?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- allgive story section close -->
  <!-- happy hours sections starts -->
  </section>
  <section>
    <div class="happy_hours">
      <div class="container">
        <div class="row bluebg align-items-center m-1">
          <div class="col-lg-6 col-md-12">
            <img src="../../assets/images/about/happy.png" alt="happy">
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="happy_hours_cont">
              <h2 >The average happy hour
              check in the U.S. is $68.99
                </h2>
                <h2 class="text-right bottomLine">- Nielsen, 2018 </h2>
                <p>Cut one happy hour outing per week
              and give the money to a charity of your
              choice instead. By the end of one year
              you will have given <span><strong>over $3,500</strong></span> to your
              charity. Now that’s something to celebrate!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- happy hours sections close -->
  <!-- american spend section starts -->
  <section>
    <div class="americans_spend">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img class="spendImg" src="../../assets/images/about/spend.png" alt="spend">
            <div class="spend_cont">
              <h2>On average, Americans spend $3.13 every day on snack foods.</h2>
              <h2 class="text-right blackbottom">- Nielsen, 2014</h2>
              <p>Junk food is nice every once in a while, but
              everyone agrees it’s not something that
              should be indulged in every day. Instead
              of heading to the vending machine for
              that afternoon pick-me-up, you can give
              that money to your favorite charity. $3.13
              may not seem like alot of money, but
              every day over the course of a year it adds
              up to $1,143.03. Your charity, and your
              waist line will thank you!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- american spend section close -->

  <!-- cinema section starts -->
  <section>
    <div class="cinema_section">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="../../assets/images/about/cinema.png" alt="cinema">
        </div>
      </div>
    </div>
  </div>
  </section>
</main>