#charity-details {
    .related-charities {
        margin-bottom: 45px;
    }
    .hero-charity {
        height: 25vw;
        /* background-image: url(./assets/images/charity-details-hero.jpg); */
        background-position: center 20%;
        background-size: cover;
        margin-bottom: 7vw;
        position: relative;
        .logo {
            position: absolute;
            overflow: hidden;
            width: 10vw;
            height: 10vw;
            /* background-image: url(./assets/images/charity-details_square-logo.png); */
            background-size: cover;
            bottom: -5vw;
            left: 0;
            right: 0;
            margin: auto;
            text-indent: -10rem;
            filter: drop-shadow(-2px 2px 4px #000000);
        }
        @media (max-width: 576px) {
            margin-bottom: 20vw !important;
            .logo {
                width: 30vw !important;
                height: 30vw !important;
                bottom: -14vw !important;
            }
        }
    }
    .modal-trigger {
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 5px 10px;
    }
    .charity-overview {
        .category {
            font-size: 1.25rem;
            color: #333333;
            margin-bottom: 1.75rem;
            @media (max-width: 576px) {
                text-align: center;
                .desktop-category {
                    display: none;
                }
                .modal-trigger {
                    float: unset;
                }
            }
            @media (min-width: 576px) {
                .modal-trigger {
                    display: none;
                }
            }
        }
        .name {
            color: #0004d0;
            .charity-name {
                line-height: 1.5;
            }
            .mobile-category {
                display: none;
                color: black;
            }
            @media (max-width: 576px) {
                text-align: center;
                h1 {
                    font-size: 2rem;
                }
                .mobile-category {
                    display: block;
                }
                .modal-trigger {
                    display: none;
                }
            }
        }
        .modal-trigger {
            float: right;
        }
    }
    .charity-text {
        font-size: 1.25rem;
        color: #000;
        p:last-of-type {
            margin-bottom: 4rem;
        }
        .media-container {
            width: 100%;
        }
        .media-container img {
            width: 100%;
            height: auto;
        }
        @media (max-width: 576px) {
            text-align: justify;
        }
    }
    .charity-testimonial {
        // height: 20vw;
        background-color: #faf8f8;
        color: #0872ba;
        margin-bottom: 4rem;
        padding-top: 20px;
        padding-bottom: 20px;
        .row {
            height: 100%;
        }
        p {
            color: #333;
            font-size: 2rem;
            font-weight: 800;
            text-align: center;
            color: #0872ba;
        }
        .testimonial-name {
            font-size: 1.25rem;
            font-weight: 700;
            display: block;
            color: #074c7a;
            text-align: center;
        }
        .testimonial-city {
            font-style: italic;
            color: #074c7a;
            text-align: center;
            display: block;
        }
    }
    .news {
        .row.justify-content-center {
            margin-bottom: 2rem;
        }
        h3 {
            text-align: center;
            margin-bottom: 3rem;
        }
        img {
            width: 100%;
            height: auto;
        }
        p {
            font-size: 1.25rem;
            color: #333;
        }
        a.read-more {
            color: #074c7a;
            font-size: 1.25rem;
            font-weight: 800;
        }
        div.row:last-of-type {
            margin-bottom: 6rem;
        }
    }
    .hero-charities {
        background-color: #faf8f8;
    }
}
